<ion-view title="Dolar">
    <ion-content class="padding">
      <ion-list>
        <ion-item class="card" href="#">
          <h1>Dolar Oficial</h1>
          <h2>
            Compra : $ {{ dolar.dolarCompra }}
            <i class="icon ion-ios7-copy-outline"></i>
          </h2>
          <h2>
            Venta : $ {{ dolar.dolarVenta }}
            <i class="icon ion-ios7-copy-outline"></i>
          </h2>
        </ion-item>
        <ion-list>
        <ion-item class="card" href="#">
          <h1>Dolar Blue/Paralelo</h1>
          <h2>
            Compra : $ {{ dolar.dolarBlueCompra }}
            <i class="icon ion-ios7-copy-outline"></i>
          </h2>
          <h2>
            Venta : $ {{ dolar.dolarBlueVenta }}
            <i class="icon ion-ios7-copy-outline"></i>
          </h2>
        </ion-item>
        <ion-list>
          <ion-item class="card" href="#">
            <h1>Dolar Tarjeta</h1>
            <h2>
              $ {{ dolar.dolarTarjeta }}
              <i class="icon ion-ios7-copy-outline"></i>
            </h2>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item class="card" href="#">
            <h1>Real Oficial</h1>
            <h2>
              Compra : $ {{ dolar.realCompra }}
              <i class="icon ion-ios7-copy-outline"></i>
            </h2>
            <h2>
              Venta : $ {{ dolar.realVenta }}
              <i class="icon ion-ios7-copy-outline"></i>
            </h2>
          </ion-item>
        </ion-list>
        <ion-list>
          <ion-item class="card" href="#">
            <h1>Euro Oficial</h1>
            <h2>
              Compra : $ {{ dolar.euroCompra }}
              <i class="icon ion-ios7-copy-outline"></i>
            </h2>
            <h2>
              Venta : $ {{ dolar.euroVenta }}
              <i class="icon ion-ios7-copy-outline"></i>
            </h2>
          </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
