<ion-view title="Dolar">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>

  <ion-content class="has-header">
    <div class="card item-dolar">
      <div class="item item-text-wrap">
        <spam style="font-size: 20px;font-weight: bold">Dolar Oficial</spam>
        <h2>
          <a href="#" ng-click="copy('Dolar Compra', dolar.dolarCompra)" class="subdued" >&nbsp;Compra : $ {{ dolar.dolarCompra }}</a>
        </h2>
        <h2>
          <a href="#" ng-click="copy('Dolar Venta', dolar.dolarVenta)" class="subdued" >&nbsp;Venta : $ {{ dolar.dolarVenta }}</a>
        </h2>
      </div>
      <share-bar type="Dolar Oficial" compra="{{ dolar.dolarCompra }}" venta="{{ dolar.dolarVenta }}"/>
    </div>

    <div class="card item-dolar-blue">
      <div class="item item-text-wrap">
        <spam style="font-size: 20px;font-weight: bold">Dolar Blue/Paralelo</spam>
        <h2>
          <a href="#" ng-click="copy('Dolar Blue Compra', dolar.dolarBlueCompra)" class="subdued" >&nbsp;Compra : $ {{ dolar.dolarBlueCompra }}</a>
        </h2>
        <h2>
          <a href="#" ng-click="copy('Dolar Blue Venta', dolar.dolarBlueVenta)" class="subdued" >&nbsp;Venta : $ {{ dolar.dolarBlueVenta }}</a>
        </h2>
      </div>
      <share-bar type="Dolar Blue/Paralelo" compra="{{  dolar.dolarBlueCompra }}" venta="{{ dolar.dolarBlueVenta }}"/>
    </div>

    <div class="card item-dolar-tarjeta">
      <div class="item item-text-wrap">
        <spam style="font-size: 20px;">Dolar Tarjeta</spam>
        <h2>
          <a href="#" ng-click="copy('Dolar Tarjeta', dolar.dolarTarjeta)" class="subdued" >&nbsp;$ {{ dolar.dolarTarjeta }}</a>
        </h2>
      </div>
      <share-bar unico="{{ dolar.dolarTarjeta }}"/>
    </div>

    <div class="card item-real">
      <div class="item item-text-wrap">
        <spam style="font-size: 20px;font-weight: bold">Real Oficial</spam>
        <h2>
          <a href="#" ng-click="copy('Real Compra', dolar.realCompra)" class="subdued" >&nbsp;Compra : $ {{ dolar.realCompra }}</a>
        </h2>
        <h2>
          <a href="#" ng-click="copy('Real Compra', dolar.realVenta)" class="subdued" >&nbsp;Venta : $ {{ dolar.realVenta }}</a>
        </h2>
      </div>
      <share-bar type="Real Oficial" compra="{{ dolar.realCompra }}" venta="{{ dolar.realVenta }}"/>
    </div>

    <div class="card item-euro">
      <div class="item item-text-wrap">
        <spam style="font-size: 20px;font-weight: bold">Euro Oficial</spam>
        <h2>
          <a href="#" ng-click="copy('Euro Compra', dolar.euroCompra)" class="subdued" >&nbsp;Compra : $ {{ dolar.euroCompra }}</a>
        </h2>
        <h2>
          <a href="#" ng-click="copy('Euro Compra', dolar.euroVenta)" class="subdued" >&nbsp;Venta : $ {{ dolar.euroVenta }}</a>
        </h2>
      </div>
      <share-bar type="Euro Oficial" compra="{{ dolar.euroCompra }}" venta="{{ dolar.euroVenta }}"/>
    </div>
    
  </ion-content>
</ion-view>
