<ion-view title="Grafico de Tendencia">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">

  <div class="card item-dolar">
    <div class="item item-text-wrap">
      <div class="row">
        <div class="col col-5"></div>
        <div class="col col-90">
          <h4>{{seriesDolarOficial[0]}}</h4>
          <canvas id="dolarOficial" class="chart chart-line" chart-data="dataDolarOficial" chart-labels="labelsDolarOficial"
                  chart-legend="true" chart-series="seriesDolarOficial" chart-click="onClick"
                  chart-options="optionsDolarOficial" chart-colours="coloursDolarOficial"></canvas>
        </div>
        <div class="col col-5"></div>
      </div>
    </div>
  </div>


    <div class="row">
      <div class="col col-5"></div>
      <div class="col col-90">
        <h4>{{seriesDolarBlue[0]}}</h4>
        <canvas id="dolarBlue" class="chart chart-line" chart-data="dataDolarBlue" chart-labels="labelsDolarBlue"
                chart-legend="true" chart-series="seriesDolarBlue" chart-click="onClick"
                chart-options="optionsDolarBlue" chart-colours="coloursDolarBlue" style="height: 600px"></canvas>
      </div>
      <div class="col col-5"></div>
    </div>

    <div class="row">
      <div class="col col-5"></div>
      <div class="col col-90">
        <h4>{{seriesDolarAhorro[0]}}</h4>
        <canvas id="dolarAhorro" class="chart chart-line" chart-data="dataDolarAhorro" chart-labels="labelsDolarAhorro"
                chart-legend="true" chart-series="seriesDolarAhorro" chart-click="onClick"
                chart-options="optionsDolarAhorro" chart-colours="coloursDolarAhorro"></canvas>
      </div>
      <div class="col col-5"></div>
    </div>

    </ion-content>
</ion-view>
