<p><div>  <p>Ayer a la tarde, se anunci&oacute; la eliminaci&oacute;n de las restricciones para comprar moneda extranjera y del 35% que se  generaba por la compra de pasajes y servicios tur&iacute;sticos al exterior y por las compras en otras monedas.  Esto facilitar&aacute; bastante la vida a los viajeros en algunas cuestiones: </p></p>

<p><ul>  <li>Ya no habr&aacute; que hacer &ldquo;investigaciones&rdquo; sobre si &ldquo;x&rdquo; agencia o aerol&iacute;nea incluye o no el 35% o si lo genera doble  u otras cuestiones que a veces resutaban bastante molestas.</li>  <li>Ya no habr&aacute; que pedir autorizaci&oacute;n para comprar moneda extranjera para viajar.</li></p>

<p></ul> <p> &ndash; </p></p>

<p></p>

<p><p> &ndash; Se podr&aacute;n aprovechar mucho m&aacute;s algunos comparadores de precios (como Skyscanner y Kayak) que tienen  herramientas muy &uacute;tiles. Si bien nunca dejaron de ser &uacute;tiles, se generaba bastante confusi&oacute;n con los resultados de  b&uacute;squeda sobre si inclu&iacute;an o no el 35%.</p></p>

<p><p> &ndash; Ya no se depender&aacute; tanto de las agencias de viaje para comprar pasajes de las aerol&iacute;neas que facturan en USD o que  generaban doble 35%. Quiz&aacute;s esto ayude a que las que ten&iacute;an cargos/comisiones un poco excesivos los bajen un poco.</p></p>

<p><p> &ndash; Seguramente esto tambi&eacute;n haga que se normalicen las ventas de las aerol&iacute;neas.</p></p>

<p><p> Respecto a los precios de los vuelos internacionales, seg&uacute;n las previsiones no quedar&aacute;n m&aacute;s baratos ya que, si bien  se retirar&aacute; el 35% de la Afip, el valor del d&oacute;lar va a aumentar. Eso har&aacute; que los pasajes tambi&eacute;n. De todas  formas solamente se podr&aacute; ver en los pr&oacute;ximos d&iacute;as/semanas.</p></p>

<p><p>Hasta el momento de publicar este post (17/12/2015 08:35hs) no hubo cambios en las p&aacute;ginas de las aerol&iacute;neas y  agencias, y los precios contin&uacute;an con el 35%. Esperaremos a ver que va pasando a lo largo del d&iacute;a e iremos  actualizando.</p></p>

<p></div></p>