<ion-view title="Dolar Hoy 2">
    <ion-content class="padding">
      <div class="list">
        <a class="item" href="#">
          <h1>Oficial</h1>
          <h2>
            Compra : {{ dolarCompra }}
          </h2>
          <i class="icon ion-ios7-copy-outline"></i>

          <h2><p>Venta : {{ dolarVenta }}</p></h2>
        </a>
      </div>
    </ion-content>
    <ion-content>
      <ion-list>
        <ion-item ng-repeat="friend in friends" type="item-text-wrap" href="#/tab/friend/{{friend.id}}">
          {{friend.name}}
        </ion-item>
      </ion-list>
    </ion-content>
</ion-view>
