<!--
  Create tabs with an icon and label, using the tabs-positive style.
  Each tab's child <ion-nav-view> directive will have its own
  navigation history that also transitions its views in and out.
-->
<ion-tabs class="tabs-icon-top">

  <ion-tab title="Dolar Oficial" icon="icon ion-home" href="#/tab/oficial">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Dolar Blue" icon="icon ion-cash" href="#/tab/blue">
    <ion-nav-view name="tab-friends"></ion-nav-view>
  </ion-tab>


  <ion-tab title="Dolar Tarjeta" icon="icon ion-card" href="#/tab/tarjeta">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Real" icon="icon ion-cash" href="#/tab/real">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Calculadora" icon="icon ion-calculator" href="#/tab/calculadora">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Euro" icon="icon ion-cash" href="#/tab/euro">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Euro Blue" icon="icon ion-cash" href="#/tab/euroblue">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Mapa" icon="icon ion-map" href="#/tab/mapa">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Contacto" icon="icon ion-gear-b" href="#/tab/contacto">
    <ion-nav-view name="tab-account"></ion-nav-view>
  </ion-tab>

</ion-tabs>
